.btn-group
	button.btn#refreshButton(title='Refresh'): i.icon-refresh
	button.btn#updateButton(title='Update eligiblity'): i.icon-play
	button.btn#clearButton(title='Clear eligibility'): i.icon-trash
table.table.table-striped.table-hover
	thead
		tr
			td User
			td Eligibility
	tbody#eligibilityTBody
