table.table.table-striped.table-hover
	thead
		tr
			td#dateCol Date
			td#titleCol Title
			td#postCol Post
			td#editCol
				button#addNewsButton.btn.btn-link(type='button') Add news item
	tbody#newsTBody
