table.table.table-striped.table-hover
	thead
		tr
			td#dateCol(style='min-width: 9em;') Date
			td#titleCol Title
			td#postCol Post
			td#editCol(style='min-width: 8.75em;')
				button#addNewsButton.btn.btn-link(type='button') Add news item
	tbody#newsTBody
