!!!
html
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='/static/lib/bootstrap/css/bootstrap.min.css', media='screen')
		link(rel='stylesheet', href='/static/lib/bootstrap/css/bootstrap-responsive.min.css')
		link(rel='shortcut icon', href='/static/images/favicon.ico')
		script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
		script(type='text/javascript', src='/static/lib/jquery.textchange.min.js')
		script(type='text/javascript', src='/static/lib/bootstrap/js/bootstrap.min.js')
		script(type='text/javascript', src='/static/lib/moment/moment.min.js')
		script(type='text/javascript', src='/static/admin/admin.min.js')
		script(type='text/javascript', src='/static/admin/tabs/competition-info.min.js')
		script(type='text/javascript', src='/static/admin/tabs/edit-wishes.min.js')
		script(type='text/javascript', src='/static/admin/tabs/news.min.js')
		:coffeescript
			$ () ->
				Admin.addTab 'competition', 'Competition Info', new CompetitionInfoTab()
				Admin.addTab 'news', 'News', new NewsTab()
				Admin.addTab 'wishlists', 'Edit Wishes', new EditWishesTab()
				# pairings/assignments, pairings/gifts. maybe other stuff as necessario, but that stuff comes after the competition workflow
				
				Admin.selectTab 'competition'
		:stylus
			body
				padding-top 60px
			#spinner
				width 15px
				height 15px

	body
		.navbar.navbar-fixed-top
			.navbar-inner
				.container
					a.brand(href='/') SantaHack
					ul#navbar.nav.nav-tabs
					ul.pull-right.nav
						li: a: img#spinner(src='/static/images/ajax-loader.gif')
						li
							a#compoDropdown.dropdown-toggle(href='#', data-toggle='dropdown')
								span#compoDropdownLabel
								| 
								b.caret
							ul#compoDropdownMenu.dropdown-menu(aria-labelledby='compoDropdown')
		.tab-content

