!!!
html
	head
		title= title
		link(rel='stylesheet', href='/static/css/style.css')
		link(rel='shortcut icon', href='/static/images/favicon.ico')
		block additionalCSS
		block scripts
	body
		#container
			#header
				h1 SantaHack
			#navigation
				ul
					// add logic here
					li: a(href=genLink('/home')) Home
					li: a(href=genLink('/rules')) Rules
			#user
				if session.user
					img#avatar(src='http://static.allegro.cc/image/avatar/' + session.user.avatar)
					span#usertext= session.user.name
					span#useraction
						[
						a(href='/logout?return=' + returnURL) Log Out
						]
				else
					span#useraction
						[
						a(href='/login?return=' + returnURL) Log In
						]
			#time(title='Official SantaHack time (when the page was loaded)')= displayTime()
			#content
				block content
		#footer Copyright &copy; <a href="http://www.baf.cc/">Robert Ferris</a>, 2011-2012<br />Design by Mark Oates via <a href="http://zeoxdesign.com/">Zeox Design</a>
				