extends layout

block additionalCSS
	link(rel='stylesheet', href='/static/css/participants.css')

mixin participant(p)
	.span4.participant(style="background-image: url('http://static.allegro.cc/image/avatar/#{p.avatar}')")
		.name= p.name

block content
	h2 Participants #{year}	
	if participants.length > 0
		.container.participants
			- for (var row = 0; row < participants.length / 3; row++) {
				- var participantsRow = participants.slice(row * 3, row * 3 + 3)
				.row-fluid
					- for participant in participantsRow
						mixin participant(participant)
			- }
	else
		p No participants yet.