!!!
html
	head
		title SantaHack
		link(rel='stylesheet', href='/static/css/style.css')
		link(rel='shortcut icon', href='/static/images/favicon.ico')
		style(type='text/css')
			#news
			{
				margin-top: 1em;
			}
			
			div.news-item
			{
				border-bottom: solid 1px #CCC;
				margin-bottom: 1em;
				padding: 0 1em 0 1em;
			}
			
			div.news-item h3
			{
				margin: 0;
			}
			
			div.news-item span.date
			{
				padding-left: 1em;
				font-weight: bold;
			}
	body
		#container
			#header
				h1 SantaHack
			#navigation
				ul
					li: a(href='/home') Home
					li: a(href='/rules') Rules
					li: a(href='/participants') Participants
					li: a(href='/downloads') Downloads
			#user
				span#useraction
					[
					a(href='/login?return=%2Fhome') Log In
					]
			#time(title='Official SantaHack time (when the page was loaded)') Nov 10, 2012 3:57 AM UTC			
			#content
				h2 News
				#news
					.news-item
						h3 Almost Time!
						span.date Posted on LOL
						p It's almost time! YAY!
			#footer Copyright &copy; <a href="http://www.baf.cc/">Robert Ferris</a>, 2011<br />Design by Mark Oates via <a href="http://zeoxdesign.com/">Zeox Design</a>