extends layout

block content
	h2 Withdraw from SantaHack #{year}
	p Are you sure you wish to withdraw from SantaHack #{year}? Your wishlist and related entry info will be deleted.
		form(method='POST', action=genLink('/entry'))
			.btn-group
				button#withdrawButton.btn.btn-large.btn-danger(name='withdrawConfirm') Withdraw
				button#cancelButton.btn.btn-large(name='cancel') Cancel

	