#blog
	margin-top 1em

#content
	textarea
		padding-bottom 4px
		padding-left 6px
		padding-right 6px
		padding-top 4px

div.blog-post
	border-bottom solid 1px #CCC
	margin-bottom 1em
	padding 0 1em 0 1em
	
	h3
		margin 0
	
	span.date
		padding-left 1em
		font-weight bold
		line-height 30px
		
		.btn-group
			padding-left 10px
			
			a
				text-decoration none

.existing-file
	background-color #eee
	color #555

	cursor default

	font-family verdana
	font-size 10px
	font-weight normal

	display block
	line-height 30px
	margin-bottom 5px
	border 1px black dashed
	padding 3px

	img
		max-width 150px
		max-height 30px
		padding-right 3px

	label
		margin-top 5px
		margin-right
