#downloads
	margin-top 1em
	
	.download
		border solid 1px #CCC
		-moz-border-radius 25px
		-webkit-border-radius 25px
		border-radius 25px
		margin-bottom 1em
		padding 1em
	
		h3
			margin 0
	
		span.date
			padding-left 1em
			font-weight bold
			line-height 30px
		
			a
				text-shadow none
				text-decoration none
	
		span.permalink
			padding-left 1em
			line-height 30px
			font-size 75%
		
			a
				text-shadow none
				text-decoration none
	
		.btn-group
			a
				text-decoration none

.existing-file
	background-color #eee
	color #555

	cursor default

	font-family verdana
	font-size 14px
	font-weight normal

	display block
	line-height 20px
	margin-bottom 5px
	border 1px black dashed
	padding 3px
