.participants
	width 100%
	
	.row-fluid
		margin-top 16px
	
	.row-fluid:first-child
		margin-top 0

.participant
	display table !important
	height 80px
	
	background-repeat no-repeat
	background-position left
	background-size 80px 80px
	
	overflow hidden
	word-wrap break-word
	
	.name
		display table-cell
		vertical-align middle

		width 100%
		max-width 150px
		
		margin 0 auto
		padding 0
		padding-left 88px
		
		font-size 110%
		color #333