.existing-file
	background-color #eee
	color #555
	
	cursor default
	
	font-family verdana
	font-size 10px
	font-weight normal
	
	display block
	line-height 30px
	margin-bottom 5px
	border 1px black dashed
	padding 3px
	
	img
		max-width 150px
		max-height 30px
		padding-right 3px
	
	label
		margin-top 5px
		margin-right
	